*.c
*.o
*.stamp
.deps
.dirstamp
ABOUT-NLS
Makefile
Makefile.in
POTFILES
aclocal.m4
autom4te.cache/
build-aux/
compile
config.h
config.h.in
config.log
config.status
configure
data/gqpe.desktop
depcomp
doc/
es.gmo
install-sh
m4
missing
po/*.header
po/*.sed
po/*.sin
po/Makevars.template
po/Rules-quot
po/stamp-po
src/gqpe
stamp-h1
stamp-it
