.deps/
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
m4
missing
quick-photo-editor
quick_photo_editor-quick-photo-editor.o
quick_photo_editor_vala.stamp
src/quick-photo-editor.c
stamp-h1
