.deps/
.dirstamp
ChangeLog
INSTALL
POTFILES
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
es.gmo
install-sh
m4
missing
quick-photo-editor
*.c
*.o
*.stamp
stamp-h1
stamp-it
